:root {
    --primary-color: orange;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gotham";
}
body {
    overflow: hidden;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* box-shadow: 0 2px 10px #ccc; */
    flex-direction: row;
    padding: 1.2rem;
    height: 4rem;
    z-index: 1000;
   background-color: rgba(255,255,255,0.7);
   width: 100vw;
}

nav {
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    transition: all .3s;
}
li:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--primary-color);
}

a{
 text-decoration: none;
 color:rgb(59, 49, 49);
}
p{
    color: rgb(59, 49, 49);
}
.logo {
    color: var(--primary-color);
    font-weight: bold;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
}
.search{
    padding: 7px 12px;
    border-radius: 50px;
    width: 40%;
    border: 1px solid #ccc;
}
.active {
    color: var(--primary-color);
    font-weight: bold;
}

/* list of customers */
.card-container {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.customer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card {
    width: 300px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px 20px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
}

.card .customer-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}
.card .customer-details {
    margin-bottom: 20px;
}
.card .contact-btn {
    background: var(--primary-color);
    padding: 10px 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;
    border: 2px solid var(--primary-color);
}
.card .contact-btn:hover {
    border: 2px solid var(--primary-color);
    background: none;
    color: black;
}

