:root {
    --primary-color: orange;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gotham";
}
body {
    overflow: hidden;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* box-shadow: 0 2px 10px #ccc; */
    flex-direction: row;
    padding: 1.2rem;
    height: 4rem;
    z-index: 1000;
   background-color: rgba(255,255,255,0.7);
   width: 100vw;
}

nav {
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    transition: all .3s;
}
li:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--primary-color);
}

a{
 text-decoration: none;
 color:rgb(59, 49, 49);
}
p{
    color: rgb(59, 49, 49);
}
.logo {
    color: var(--primary-color);
    font-weight: bold;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
}
.search{
    padding: 7px 12px;
    border-radius: 50px;
    width: 40%;
    border: 1px solid #ccc;
}
.active {
    color: var(--primary-color);
    font-weight: bold;
}

/* main section style */
main {
    background: url("./image/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1000;
    color: white;
}
main::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(0,0,0,0.6),rgba(0,0,0,0));

}
.section-content {
    position: absolute;
    width: 50%;
    margin-top: 10%;
    padding-left: 150px;
}
h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
h1::before{
    content: "";
    background: var(--primary-color);
    height: 3px;
    width: 5rem;
    display: block;
    padding: 8px;
    margin-bottom: 10px;
}
p {
    width: 70%;
    margin: 10px 0 1rem;
    color: white;
}
.start-btn {
    background: var(--primary-color);
    padding: 10px 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;
    font-size: large;
    border: 2px solid var(--primary-color);
}
.start-btn:hover {
    border: 2px solid var(--primary-color);
    background: none;
    color: white;
}