:root {
    --primary-color: orange;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gotham";
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* box-shadow: 0 2px 10px #ccc; */
    flex-direction: row;
    padding: 1.2rem;
    height: 4rem;
    z-index: 1000;
   background-color: rgba(255,255,255,0.7);
   width: 100vw;
}

nav {
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    transition: all .3s;
}
li:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--primary-color);
}

a{
 text-decoration: none;
 color:rgb(59, 49, 49);
}
p{
    color: rgb(59, 49, 49);
}
.logo {
    color: var(--primary-color);
    font-weight: bold;
}
.container {
    width: 100%;
    margin: auto;
}
.search{
    padding: 5px 12px;
    border-radius: 5px;
    width: 40%;
    border: 2px solid #ccc;
}
.active {
    color: var(--primary-color);
    font-weight: bold;
}
.small-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}
.row {
    display: flex;
    justify-content: center;


}

.col-4{
    flex-basis: 25%;
    flex-direction: row;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    align-items: right;
    box-shadow: 0 0 8px #ccc;
    border-radius: 5%;
    margin: 1.5%;
}
.col-4 img {
    width: 200px;
    height: 200px;
    object-fit:contain;
}
.button {
    background: var(--primary-color);
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(138, 136, 136);
    cursor: pointer;
    transition: all .2s;
    width: 100%;
    
}
.button:hover {
    border: 2px solid var(--primary-color);
    background: none;
    color: rgb(39, 34, 34);
}